<div class="detail_box">
  <h1>Phone</h1>
  <div class="box_in_phone">
    <p>
      <%= number_to_phone(result.phone[:phone_number], country_code: result.phone[:country_calling_code]) %>
    </p>
    <% unless result.phone[:carrier].blank? %>
      <p>
        <span class="phone_label_font">Carrier:</span>
        <%= result.phone[:carrier] %>
      </p>
    <% end %>
    <% unless result.phone[:line_type].blank? %>
      <p>
        <span class="phone_label_font">Phone Type:</span>
        <%= result.phone[:line_type] %>
      </p>
    <% end %>
    <p>
      <span class="phone_label_font">Do not Call registry:</span>
      <%= result.phone[:do_not_call]? 'Registered' : 'Not Registered' %>
    </p>
    <% unless result.phone[:reputation].blank? %>
      <p>
        <span class="phone_label_font">SPAM Score:</span>
        <%= result.phone[:reputation] %>%
      </p>
    <% end %>
  </div>
</div>