<div class="search_sec">
  <p>Find Person</p>
  <form method="post" action="/person">
    <input type="text" name="first_name" placeholder="First Name" value="<%=params['first_name']%>" id="first_name" class="inputbox" >
    <input type="text" name="last_name" placeholder="Last Name" value="<%=params['last_name']%>" id="last_name" class="inputbox" >
    <input type="text" name="where" placeholder="City, State, ZIP or Address" value="<%=params['where']%>" id="where" class="inputbox" >
    <input type="Submit" name="submit" value="Find" class="find_btn" >
    <input type="button" name="clear" value="Clear" class="find_btn"  onclick="clearData();">
  </form>
</div>


<% unless @error.blank? %>
  <div class="error_box">
    <%=@error%>
  </div>
<% end %>

<% unless @response.blank? %>
  <% unless @response["results"].blank?%>

    <div class="detail_wrapper">
      <% unless @result_persons_array.blank? %>

        <div class="disp_result_box">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th align="left" width="30%">Who</th>
              <th align="left" width="30%">Where</th>
            </tr>

            <% @result_persons_array.each_with_index do |person_obj,person_index| %>

              <tr>
                <td> <div class="detail_boxin">
                  <p class="bg_font14"><%=@person_name_hash[person_index]%></p>
                  <% unless @person_age_start_hash[person_index].blank?%> <p><span class="bg_font12">Age:</span> &nbsp;<%=@person_age_start_hash[person_index]%>+</p>  <% end %>
                  <p><span class="bg_font12">Type:</span>&nbsp;<%=@person_type_hash[person_index]%></p>
                </div></td>
                <td>  <div class="detail_boxin">
                  <% unless @standard_address_line1[person_index].blank? %> <%=@standard_address_line1[person_index] %> <br /> <% end %>
                  <% unless @standard_address_line2[person_index].blank? %> <%=@standard_address_line2[person_index] %> <br /> <% end %>
                  <% unless @standard_address_location[person_index].blank? %>  <%=@standard_address_location[person_index] %>  <% end %>
                  <p><span class="bg_font12">Receiving Mail:</span> <%=@is_receiving_mail[person_index] %> </p>
                  <p><span class="bg_font12">Usage:</span> <%=@usage[person_index] %> </p>
                  <p><span class="bg_font12">Delivery Point:</span> <%=@delivery_point[person_index].to_s[0..-5] + " Unit"%> </p>
                </div>  </td>
              </tr>

            <% end %>

          </table>

        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  function clearData() {
    $("#first_name").val("");
    $("#last_name").val("");
    $("#where").val("");
  }
</script>