<!DOCTYPE html>
<html>
<head>
  <title>WhitePagesGraph</title>
  <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'>
  <link rel='icon' href='/favicon.ico' type='image/x-icon'>
  <%= stylesheet_link_tag  'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type='text/javascript'>
    var searchLink = '<%= search_link_path %>';
    var searchForm = '<%=search_form_path%>';
</script>

<div id='overlay' style='display: none;'>Loading...</div>
<div class='wrapper'>
  <div class='header'> </div>
</div>
<div id='wp_tabs'>
  <%= render 'shared/tabs' %>
</div>
<div id='wp_graph' style='text-align: center;'>
  <%= yield %>
</div>

</body>
</html>
