<div class="wrapper">
  <div class="search_sec">
    <p>Find by Phone</p>
    <%= form_tag("phones", method: "post") do %>
        <%= text_field_tag :api_key, params[:api_key],:placeholder => "API KEY" ,:class=>'inputbox'%>
        <%= text_field_tag :phone_number, params[:phone],:placeholder => "Phone Number" ,:class=>'inputbox'%>
        <%= submit_tag "Find" ,:class=>'find_btn' %>  <span id="loading"><%= image_tag 'loading2.gif' %></span>
    <% end %>
  </div>
  <div id="svg"></div>
</div>

<script type="text/javascript">
    $(document).ready( function() {
        $("#svg").svg({
                onLoad: function()
                {
                    var svg = $("#svg").svg('get');
                    svg.load('/graph_search.svg', {addTo: true,  changeSize: true});
                },
                settings: {}}
        );


    });
</script>


 
