<td>
  <div class="detail_box_in_location">
    <% unless result[:location].blank? %>
      <% unless result[:location][:standard_address_line1].blank? %>
        <%= result[:location][:standard_address_line1]  %>
        <br />
      <% end %>
      <% unless result[:location][:standard_address_line2].blank? %>
        <%= result[:location][:standard_address_line2] %>
        <br />
      <% end %>
      <% unless result[:location][:city].blank? %>
        <%= result[:location][:city] %>
      <% end %>
      <% unless result[:location][:state_code].blank? %>
        <%= result[:location][:state_code] %>
      <% end %>
      <% unless result[:location][:postal_code].blank? %>
        <%= result[:location][:postal_code] %>
      <% end %>
      <p>
        <span class="location_label_font">Receiving Mail: </span>
        <%= result[:location][:is_receiving_mail]? 'Yes' : 'No'  %>
      </p>
      <% unless result[:location][:usage].blank? %>
        <p>
          <span class="location_label_font">Usage: </span>
          <%= result[:location][:usage] %>
        </p>
      <% end %>
      <p>
        <span class="location_label_font">Delivery Point: </span>
        <%= result[:location][:delivery_point].to_s[0..-5] + " Unit" %>
      </p>
    <% end %>
  </div>
</td>