<% if @result_graph && !@result_graph[:result].blank? %>
    result found for
    <span>
       <% if  @search_for == 'phone' %>
          <%= params[:phone_number] %>
       <% elsif @search_for == 'location' %>
           <%= params[:address_street_line_1] %>  <%= params[:address_city]  %>
       <% elsif @search_for == 'person' %>
            <%= params[:person_first_name] %>  <%= params[:person_last_name] %> <%= params[:person_where] %>
       <% elsif @search_for == 'business' %>
            <%= params[:business_name] %>  <%=params[:city] %>  <%= params[:state] %>
       <% end %>
    </span>
<% end %>