<div class='container'>
  <div id='tab-container'> <img src='/assets/wp-logo-gray.svg' width='238' height='45' border='0' style='display: inline-block; position: absolute; margin-top: -92px;'>
    <ul class='tab-menu'>
      <li id='fnumber' <% if params['action'] == 'reverse_phone' || @search_for == 'phone' %>class='active' <% else %> class=''<% end %>><%= link_to 'Find by Phone Number', reverse_phone_path %></li>
      <li id='faddress' <% if params['action'] == 'reverse_address' || @search_for == 'location' %>class='active' <% else %> class=''<% end %>><%= link_to 'Find by Address', reverse_address_path %></li>
      <li id='fperson' <% if params['action'] == 'find_person' || @search_for == 'person' %>class='active' <% else %> class=''<% end %>><%= link_to 'Find Person', find_person_path %></li>
      <li id='fbusiness' <% if params['action'] == 'find_business' || @search_for == 'business' %>class='active' <% else %> class=''<% end %>><%= link_to 'Find Business', find_business_path %></li>
    </ul>
    <div class='clear'></div>
    <div class='tab-top-border'></div>
    <%= render 'shared/reverse_phone' %>
    <%= render 'shared/reverse_address' %>
    <%= render 'shared/find_person' %>
    <%= render 'shared/find_business' %>
  </div>
</div>

<div class='result_error_sec'>
  <div class='result_box'>
    <% if @error.blank? %>
        <%= render 'shared/results' %>
    <% else %>
        <%= render 'shared/error' %>
    <% end %>
  </div>
</div>